
@{
    ViewBag.Subtitulo = "Página Principal";
}

<h1 class="text-primary">CRUD com Asp.Net Core</h1>
<hr>
<h3 class="text-info">Usuários Cadastrados: @ViewBag.QtdUsuario</h3>
<hr>
<a href="/Home/Usuarios" class="btn btn-primary">Usuarios</a>
<a asp-action="Cadastrar" class="btn btn-primary">Cadastrar Usuário</a><br>

