
@{
    ViewBag.Subtitulo = "P치gina Principal";
}

<h1 class="text-primary">CRUD com Asp.Net Core</h1>
<hr>
<h3 class="text-info">Usu치rios Cadastrados: @ViewBag.QtdUsuario</h3>
<hr>
<a href="/Home/Usuarios" class="btn btn-primary">Usuarios</a>
<a asp-action="Cadastrar" class="btn btn-primary">Cadastrar Usu치rio</a><br>


@section Footer{
    <span class="text-info">P치gina Principal</span>
}